<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <assemblies>
            <assembly reference="94416.100803">/bin/Sitecore.Support.94416.100803.dll</assembly>
          </assemblies>
        </processor>
      </initialize>
      <mvc.customizeRendering>
        <processor type="Sitecore.Support.Mvc.Analytics.Pipelines.Response.CustomizeRendering.Personalize, Sitecore.Support.94416.100803" patch:instead="processor[@type='Sitecore.Mvc.Analytics.Pipelines.Response.CustomizeRendering.Personalize, Sitecore.Mvc.Analytics']" />
      </mvc.customizeRendering>
    </pipelines>
  </sitecore>
</configuration>